img {
    max-width: 30%;    
}

h1 {
    font-size: 14pt;
    color: blue;

}

p {
    font-size: 9pt;
}

/* article:first-child h3 {
    font-size: 16pt;
}

article:first-child p {
    font-size: 11pt;
} */

.flex-container {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.gap1 {
    gap: 1rem;
}

.width-100 {
    width:100%;
}
.center-text {
    text-align: center;
}

section {
    margin-top: 1rem;
}
